@model Teshe.Models.Stoppage

@{
    ViewBag.Title = "故障详细信息";
}

@using (Html.BeginForm("Edit", "Stoppage", FormMethod.Get))
{ 
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Device.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Device.Name)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Device.Model)
            </td>
            <td>
                @Html.DisplayFor(model => model.Device.Model)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Device.Barcode)
            </td>
            <td>
                @Html.DisplayFor(model => model.Device.Barcode)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Device.Company)
            </td>
            <td>
                @Html.DisplayFor(model => model.Device.Company)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Device.District)
            </td>
            <td>
                @Html.DisplayFor(model => model.Device.District)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Device.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.Device.City)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Device.Province)
            </td>
            <td>
                @Html.DisplayFor(model => model.Device.Province)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.StoppageTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.StoppageTime)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.RepairPeople)
            </td>
            <td>
                @Html.DisplayFor(model => model.RepairPeople)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.RepairTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.RepairTime)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Remarks)
            </td>
            <td>
                @Html.DisplayFor(model => model.Remarks)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.InputTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.InputTime)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.InputTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.InputTime)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Device.PhotoUrl)
            </td>
            <td>
                @if (!String.IsNullOrEmpty(Model.Device.PhotoUrl))
                {
                    <img src="/FileUpload/Photo/@Model.Device.PhotoUrl" alt="无设备照片" />
                }
                else
                { 
                    @:无设备照片
                }
            </td>
        </tr>
    </table>
    <p>
        @{
                if (!User.IsInRole("省级管理员") && !User.IsInRole("市级管理员") && !User.IsInRole("区（县）级管理员"))
                {
                    Html.ActionLink("修改", "Edit", new { id = Model.Id }); @:|
                }
        }
        @Html.ActionLink("返回", "Index")|
        @Html.ActionLink("查看修改记录", "ModifyRecord", new { id = Model.Id })
    </p>
}