@model Teshe.Models.Stoppage

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm("Edit", "Stoppage", FormMethod.Get))
{ 
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Device.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Device.Name)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.StoppageTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.StoppageTime)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.RepairPeople)
            </td>
            <td>
                @Html.DisplayFor(model => model.RepairPeople)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.RepairTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.RepairTime)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Remarks)
            </td>
            <td>
                @Html.DisplayFor(model => model.Remarks)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.InputTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.InputTime)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.InputTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.InputTime)
            </td>
        </tr>
    </table>
    <p>
        @Html.ActionLink("修改", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("返回", "Index")|
        @Html.ActionLink("查看修改记录", "ModifyRecord", new { id = Model.Id })
    </p>
}