@model Teshe.Models.Stoppage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Stoppage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StoppageTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StoppageTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RepairPeople)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RepairPeople)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RepairTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RepairTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
