@model Teshe.Models.Stoppage

@{
    ViewBag.Title = "故障信息修改";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.Device.Name)：
            @Html.DisplayFor(model => model.Device.Name)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.StoppageTime)
            @Html.TextBoxFor(model => model.StoppageTime, new { onfocus = "WdatePicker()" })
            @Html.ValidationMessageFor(model => model.StoppageTime)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.RepairPeople)
            @Html.EditorFor(model => model.RepairPeople)
            @Html.ValidationMessageFor(model => model.RepairPeople)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.RepairTime)
            @Html.TextBoxFor(model => model.RepairTime, new { onfocus = "WdatePicker()" })
            @Html.ValidationMessageFor(model => model.RepairTime)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.Remarks)
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <input type="submit" value="保存修改" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index", "Stoppage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
