@model Teshe.Models.StoppageIndexViewModel

@{
    ViewBag.Title = "Index";
}
<script>
    function Search() {
        $("#result").datagrid({
            url: "/Stoppage/Search?" + "Name=" + $("#Name").val() + "&Model=" + $("#Model").val() + "&Barcode=" + $("#Barcode").val() + "&Company=" + $("#Company").val() + "&StoppageTime=" + $("#StoppageTime").val()
        })
    }

    function formatName(data, row) {
        return row.Device.Name;
    }
    function formatModel(data, row) {
        return row.Device.Model;
    }
    function formatBarcode(data, row) {
        return row.Device.Barcode;
    }
    function formatCompany(data, row) {
        return row.Device.Company;
    }
    function formatDistrict(data, row) {
        return row.Device.District;
    }
    function formatCity(data, row) {
        return row.Device.City;
    }
    function formatProvince(data, row) {
        return row.Device.Province;
    }
</script>
<h2>Index</h2>
<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td>
            @Html.EditorFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Model)
        </td>
        <td>
            @Html.EditorFor(model => model.Model)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Barcode)
        </td>
        <td>
            @Html.EditorFor(model => model.Barcode)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Company)
        </td>
        <td>
            @Html.EditorFor(model => model.Company)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.StoppageTime)
        </td>
        <td>
            @Html.TextBoxFor(model => model.StoppageTime, new { onfocus = "WdatePicker()" })
        </td>
    </tr>
    <tr>
        <td>
            <a class="easyui-linkbutton" href="javascript:void(0)" onclick="Search()">查询故障</a>
        </td>
    </tr>
</table>
<table id="result" class="easyui-datagrid" title="故障信息" style="width: 1000px; height: auto"
    data-options="singleSelect:true,collapsible:true,url:'/Stoppage/Search',method:'post',rownumbers:'true',pagination:'true'">
    <thead>
        <tr>

            <th data-options="field:'DeviceName',formatter:formatName,width:80">设备名称</th>
            <th data-options="field:'DeviceModel',formatter:formatModel,width:100">设备型号</th>
            <th data-options="field:'DeviceBarcode',formatter:formatBarcode,width:100">条形码</th>
            <th data-options="field:'DeviceCompany',formatter:formatCompany,width:100">所在公司</th>
            <th data-options="field:'DeviceDistrict',formatter:formatDistrict,width:100">所在区（县）</th>
            <th data-options="field:'DeviceCity',formatter:formatCity,width:100">所在城市</th>
            <th data-options="field:'DeviceProvince',formatter:formatProvince,width:100">所在省份</th>
            <th data-options="field:'StoppageTime',width:100">故障时间</th>
            <th data-options="field:'Description',width:100">故障描述</th>
            <th data-options="field:'RepairPeople',width:100">维修人员</th>
            <th data-options="field:'RepairTime',width:100">维修时间</th>

            <th data-options="field:'pass',width:60,formatter:pass">修改</th>
            <th data-options="field:'del',width:60,formatter:del">查看详细</th>


        </tr>
    </thead>
</table>
<script>
    function pass(val, row) {
        return "<a onclick=\"passConfirm(" + row.Id + ")\" href=\"javascript:void(0)\">查看详细</a>";
    }
    function del(val, row) {
        return "<a onclick=\"delConfirm(" + row.Id + ")\" href=\"javascript:void(0)\">删除</a>";
    }
    function passConfirm(id) {
        window.location.href = "/Stoppage/Details/" + id;
    }
    function delConfirm(id) {
        $.messager.confirm('确认', '您确定要删除吗？', function (r) {
            if (r) {
                window.location.href = "/Stoppage/Delete/" + id;
            }
        });
    }
</script>

@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufactureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetupTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExplosionProof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityCertificateNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckCycle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintenanceRecord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufactureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetupTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExplosionProof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityCertificateNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckCycle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaintenanceRecord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
