@model Teshe.Models.UserInfo
@{
    Layout = null;
}
@{
    ViewBag.Title = "用户注册";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户注册</title>
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/uploadify.css")
    @*@Ajax.ActionLink("Run JavaScript", "JavaScript", new AjaxOptions())*@
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table class="register">
            <tr>
                <td style="font-size: 28px; text-align: center;" colspan="3">用户注册
                </td>
            </tr>
            <tr>
                <td colspan="3">请认真填写下列信息
                </td>
            </tr>
            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.Name)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>

            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.Password)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.RepPassword)：
                </td>
                <td>
                    @Html.EditorFor(model => model.RepPassword)
                    @Html.ValidationMessageFor(model => model.RepPassword)
                </td>
            </tr>

            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.ResponsiblePerson)：
                </td>
                <td>
                    @Html.EditorFor(model => model.ResponsiblePerson)
                    @Html.ValidationMessageFor(model => model.ResponsiblePerson)
                </td>
            </tr>
            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.Company)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Company)
                    @Html.ValidationMessageFor(model => model.Company)
                </td>
            </tr>
            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.District)：
                </td>
                <td>
                    @Html.EditorFor(model => model.District)
                    @Html.ValidationMessageFor(model => model.District)
                </td>
            </tr>
            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.City)：
                </td>
                <td>
                    @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)
                </td>
            </tr>
            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.Province)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Province)
                    @Html.ValidationMessageFor(model => model.Province)
                </td>
            </tr>
            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.Tel)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Tel)
                    @Html.ValidationMessageFor(model => model.Tel)
                </td>
            </tr>
            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.Email)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.Remarks)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Remarks)
                    @Html.ValidationMessageFor(model => model.Remarks)
                </td>
            </tr>
            <tr>
                <td class="lefttd">
                    @Html.LabelFor(model => model.PhotoUrl)：
                </td>
                <td>
                    @Html.Editor("fileName")
                    @Html.HiddenFor(model => model.PhotoUrl)
                    @Html.ValidationMessageFor(model => model.PhotoUrl)
                    <input type="file" name="file_upload" id="file_upload" />
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="注册" />
        </p>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/uploadify/jquery.uploadify.min.js")
    @UIHelper.ShowUploadify("file_upload");
    @*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
</body>
</html>
