@{
    ViewBag.Title = "修改密码";
}
@model Teshe.Models.ModifyPasswordViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="form-group col-sm-4">
                @Html.DisplayNameFor(model => model.OldPassword)
                @Html.TextBoxFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                @Html.DisplayNameFor(model => model.Password)
                @Html.TextBoxFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                @Html.DisplayNameFor(model => model.RepPassword)
                @Html.TextBoxFor(model => model.RepPassword)
                @Html.ValidationMessageFor(model => model.RepPassword)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <input type="submit" value="修改密码" class="btn btn-default" />
                @UIHelper.ModifyTips(ViewBag.ModifyPasswordIsSuccess)
                @Html.ValidationSummary(true)
            </div>
        </div>
    </div>
}