@{
    ViewBag.Title = "ModifyPassword";
}

<h2>修改密码</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)    
<fieldset>
        <legend>会员信息</legend>
        <div class="editor-label">
            @Html.Label("输入原密码")
        </div>
        <div class="editor-field">
            @Html.Editor("oldPassword")
        </div>
        <div class="editor-label">
            @Html.Label("输入新密码")
        </div>
        <div class="editor-field">
            @Html.Editor("newPassword")
        </div>       
        <div class="editor-label">
            @Html.Label("确认新密码")
        </div>
        <div class="editor-field">
            @Html.Editor("repPassword")
        </div>
        <p>
            <input type="submit" value="修改密码" />
            @{
              if (ViewBag.IsSuccess == true)
              { 
                  <span style="color:green">修改成功</span> 
              }   
            }      
        </p>
</fieldset>
}    