@{
    ViewBag.Title = "ModifyPassword";
}
@model Teshe.Models.ModifyPasswordViewModel
<h2>修改密码</h2>
@Styles.Render("~/Content/main.css")
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>会员信息</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.RepPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RepPassword)
            @Html.ValidationMessageFor(model => model.RepPassword)
        </div>
        <p>
            <input type="submit" value="修改密码" />
            @UIHelper.ModifyTips(ViewBag.ModifyPasswordIsSuccess)
            @Html.ValidationSummary(true)
        </p>
    </fieldset>
}    