@{
    ViewBag.Title = "客户信息修改";
}
@model Teshe.Models.ModifyUserInfoViewModel
@Scripts.Render("~/Scripts/uploadify/jquery.uploadify.min.js")
@Styles.Render("~/Content/uploadify.css")
@UIHelper.ShowUploadify("file_upload")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.PhotoUrl)
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.ResponsiblePerson)
            @Html.TextBoxFor(model => model.ResponsiblePerson)
            @Html.ValidationMessageFor(model => model.ResponsiblePerson)
        </div>
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.Company)
            @Html.TextBoxFor(model => model.Company)
            @Html.ValidationMessageFor(model => model.Company)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.District)
            @Html.TextBoxFor(model => model.District)
            @Html.ValidationMessageFor(model => model.District)
        </div>
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.City)
            @Html.TextBoxFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.Province)
            @Html.TextBoxFor(model => model.Province)
            @Html.ValidationMessageFor(model => model.Province)
        </div>
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.Tel)
            @Html.TextBoxFor(model => model.Tel)
            @Html.ValidationMessageFor(model => model.Tel)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="form-group  col-sm-4">
            @Html.DisplayNameFor(model => model.Remarks)
            @Html.TextBoxFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.PhotoUrl)
            @Html.TextBox("fileName", "")
            @Html.ValidationMessageFor(model => model.PhotoUrl)
            <input type="file" name="file_upload" id="file_upload" />
            头像的大小为100*100
        </div>
        <div class="col-sm-8">
            @Html.Display("头像")
            <img width="100" height="100" src="/FileUpload/Photo/@Model.PhotoUrl" alt="头像" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <input type="submit" value="保存修改" class="btn btn-default" />
            @UIHelper.ModifyTips(ViewBag.ModifyInfoIsSuccess, "修改成功")
        </div>
        <div class="col-sm-8">
        </div>
    </div>
}
