@model Teshe.Models.Scrap

@{
    ViewBag.Title = "报废信息修改";
}
<link href="~/Content/tablestyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <table class="table table-condensed">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Device.Name)：</td>
            <td>@Html.DisplayFor(model => model.Device.Name)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Description)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Description, new { @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ScrapTime)
            </td>
            <td>
                @Html.TextBoxFor(model => model.ScrapTime, new { onfocus = "WdatePicker()", @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.ScrapTime)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="保存修改" class="btn btn-default" />
            </td>
        </tr>
    </table>
}
