@model Teshe.Models.CreateStoppageViewModel

@{
    ViewBag.Title = "故障登记";
}
@Scripts.Render("~/Scripts/My97DatePicker/WdatePicker.js")
<link href="~/Content/tablestyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table class="table table-condensed">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DeviceBarcode)
            </td>
            <td>
                @Html.TextBoxFor(model => model.DeviceBarcode, new { onchange = "GetDeviceInfo()", @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.DeviceBarcode, null, new { style = "color:red" })
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Description, new { @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.Description, null, new { style = "color:red" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.StoppageTime)
            </td>
            <td>
                @Html.TextBoxFor(model => model.StoppageTime, new { onfocus = "WdatePicker()", @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.StoppageTime, null, new { style = "color:red" })
            </td>
            <td>
                @Html.DisplayNameFor(model => model.RepairPeople)
            </td>
            <td>
                @Html.TextBoxFor(model => model.RepairPeople, new { @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.RepairPeople, null, new { style = "color:red" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RepairTime)
            </td>
            <td>
                @Html.TextBoxFor(model => model.RepairTime, new { onfocus = "WdatePicker()", @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.RepairTime, null, new { style = "color:red" })
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Remarks)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Remarks, new { @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.Remarks, null, new { style = "color:red" })
            </td>
        </tr>
    </table>
    <table class="table table-condensed">
        <tr>
            <td>
                <div id="deviceName" class="form-group col-sm-4">
                    设备名称：
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="deviceModel" class="form-group col-sm-4">
                    设备型号：
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="deviceCompany" class="form-group col-sm-4">
                    所在公司：
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="deviceDistrict" class="form-group col-sm-4">
                    所在区（县）：
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="deviceCity" class="form-group col-sm-4">
                    所在城市：
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="deviceProvince" class="form-group col-sm-4">
                    所在省份：
                </div>
            </td>
        </tr>
    </table>
    <input type="submit" value="添加故障" class="btn btn-default" />
}
@UIHelper.GetDeviceInfo()
