@model Teshe.Models.Stoppage

@{
    ViewBag.Title = "故障信息修改";
}
<link href="~/Content/tablestyle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table class="table table-condensed">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Device.Name)：
            </td>
            <td colspan="3">
                @Html.DisplayFor(model => model.Device.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Description, new { @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.StoppageTime)
            </td>
            <td>
                @Html.TextBoxFor(model => model.StoppageTime, new { onfocus = "WdatePicker()",@class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.StoppageTime)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RepairPeople)
            </td>
            <td>
                @Html.TextBoxFor(model => model.RepairPeople, new { @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.RepairPeople)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RepairTime)
            </td>
            <td>
                @Html.TextBoxFor(model => model.RepairTime, new { onfocus = "WdatePicker()",@class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.RepairTime)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Remarks)
            </td>
            <td colspan="3">
                @Html.TextBoxFor(model => model.Remarks, new { @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.Remarks)
            </td>
        </tr>
    </table>
    <input type="submit" value="保存修改" class="btn btn-default" />
}

<div>
    @Html.ActionLink("返回", "Index", "Stoppage")
</div>
