@model Teshe.Models.Mail

@{
    ViewBag.Title = "提醒查看";
    Layout = null;
}

<h2>提醒查看</h2>

<fieldset>
    <legend>Mail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contents)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contents)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SendTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SendTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsRead)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsRead)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
