@model Teshe.Models.CreateSharedFileViewModel

@{
    ViewBag.Title = "共享文件上传";
}
@Styles.Render("~/Content/uploadify.css")
@Scripts.Render("~/Scripts/uploadify/jquery.uploadify.min.js")
@UIHelper.ShowUploadify("file_report", "/SharedFile/UploadSharedFile", "OldFileName", "NewFileName")
<link href="~/Content/tablestyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="table table-condensed">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Title)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Title, new { @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Description, new { @class = "combo textBoxHeight" })
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.OldFileName)
            </td>
            <td>
                @Html.TextBox("OldFileName", "", new { @class = "combo textBoxHeight" })
                @Html.HiddenFor(model => model.NewFileName)
                @Html.ValidationMessageFor(model => model.OldFileName)
                <input type="file" name="file_report" id="file_report" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="添加共享文件" class="btn btn-default" />
                @UIHelper.ModifyTips(ViewBag.CreateAdminIsSuccess, "添加共享文件")
            </td>
        </tr>
    </table>
}
