@model Teshe.Models.CreateScrapViewModel

@{
    ViewBag.Title = "Create";
}

<h2>添加报废信息</h2>
@Scripts.Render("~/Scripts/My97DatePicker/WdatePicker.js")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="form-group col-sm-4">
            @Html.LabelFor(model => model.DeviceBarcode)
            @Html.EditorFor(model => model.DeviceBarcode)
            @Html.ValidationMessageFor(model => model.DeviceBarcode)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.LabelFor(model => model.ScrapTime)
            @Html.TextBoxFor(model => model.ScrapTime, new { onfocus = "WdatePicker()" })
            @Html.ValidationMessageFor(model => model.ScrapTime)
        </div>
    </div>     
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.LabelFor(model => model.Remarks)
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>
    </div>    
    <div class="row">
        <div class="form-group col-sm-4">
            <input class="btn btn-default" type="submit" value="添加报废" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
