@model Teshe.Models.Scrap

@using (Html.BeginForm("Edit", "Scrap", FormMethod.Get))
{ 
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.ScrapTime)
            </td>
            <td>
                @Html.DisplayFor(model => model.ScrapTime)
            </td>
        </tr>
    </table>
    <p>
        @Html.ActionLink("修改", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("返回", "Index")
    </p>
}