@model Teshe.Models.ScrapIndexViewModel

@{
    ViewBag.Title = "Index";
}
<script>
    function pass(val, row) {
        return "<a onclick=\"passConfirm(" + row.Id + ")\" href=\"javascript:void(0)\">查看详细</a>";
    }
    function del(val, row) {
        return "<a onclick=\"delConfirm(" + row.Id + ")\" href=\"javascript:void(0)\">删除</a>";
    }
    function passConfirm(id) {
        window.location.href = "/Scrap/Details/" + id;
    }
    function delConfirm(id) {
        $.messager.confirm('确认', '您确定要删除吗？', function (r) {
            if (r) {
                window.location.href = "/Scrap/Delete/" + id;
            }
        });
    }
</script>
<script>
    function Search() {
        $("#result").datagrid({
            url: "/Scrap/Search?" + "Name=" + $("#Name").val() + "&Model=" + $("#Model").val() + "&Barcode=" + $("#Barcode").val() + "&Company=" + $("#Company").val() + "&ScrapTime=" + $("#ScrapTime").val()
        })
    }
    function formatName(data, row) {
        return row.Device.Name;
    }
    function formatModel(data, row) {
        return row.Device.Model;
    }
    function formatBarcode(data, row) {
        return row.Device.Barcode;
    }
    function formatCompany(data, row) {
        return row.Device.Company;
    }
    function formatDistrict(data, row) {
        return row.Device.District;
    }
    function formatCity(data, row) {
        return row.Device.City;
    }
    function formatProvince(data, row) {
        return row.Device.Province;
    }
</script>

<div class="row">
    <div class="form-group col-sm-4">
        @Html.DisplayNameFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
    </div>
    <div class="form-group col-sm-4">
        @Html.DisplayNameFor(model => model.Model)
        @Html.EditorFor(model => model.Model)
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-4">
        @Html.DisplayNameFor(model => model.Barcode)
        @Html.EditorFor(model => model.Barcode)
    </div>
    <div class="form-group col-sm-4">
        @Html.DisplayNameFor(model => model.Company)
        @Html.EditorFor(model => model.Company)
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-4">
        @Html.DisplayNameFor(model => model.ScrapTime)
        @Html.TextBoxFor(model => model.ScrapTime, new { onfocus = "WdatePicker()" })
    </div>
</div>
<a class="easyui-linkbutton" href="javascript:void(0)" onclick="Search()">查询故障</a>
<table id="result" class="easyui-datagrid" title="故障信息" style="width: 1000px; height: auto"
    data-options="singleSelect:true,collapsible:true,url:'/Scrap/Search',method:'post',rownumbers:'true',pagination:'true'">
    <thead>
        <tr>
            <th data-options="field:'pass',width:60,formatter:pass">查看详细</th>
            <th data-options="field:'del',width:60,formatter:del">删除</th>

            <th data-options="field:'DeviceName',formatter:formatName,width:80">设备名称</th>
            <th data-options="field:'DeviceModel',formatter:formatModel,width:100">设备型号</th>
            <th data-options="field:'DeviceBarcode',formatter:formatBarcode,width:100">条形码</th>
            <th data-options="field:'DeviceCompany',formatter:formatCompany,width:100">所在公司</th>
            <th data-options="field:'DeviceDistrict',formatter:formatDistrict,width:100">所在区（县）</th>
            <th data-options="field:'DeviceCity',formatter:formatCity,width:100">所在城市</th>
            <th data-options="field:'DeviceProvince',formatter:formatProvince,width:100">所在省份</th>
            <th data-options="field:'ScrapTime',width:100">报废时间</th>
            <th data-options="field:'Description',width:100">报废描述</th>

        </tr>
    </thead>
</table>
<a class="easyui-linkbutton" href="javascript:void(0)" onclick="exportExcel()">导出报表</a>
<a class="easyui-linkbutton" href="javascript:void(0)" onclick="print()">在线打印</a>
@UIHelper.ExportExcel("Scrap")
@UIHelper.Print("Scrap");