@model Teshe.Models.Device
@using Teshe.Models;
@using System.Collections.Generic;
@{
    ViewBag.Title = "添加设备";
}
@Styles.Render("~/Content/uploadify.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/uploadify/jquery.uploadify.min.js")
@Scripts.Render("~/Scripts/My97DatePicker/WdatePicker.js")
@UIHelper.ShowUploadify("file_upload")
<h2>添加设备</h2>
<script>
    function Create() {
        var a = Math.floor(Math.random() * 100000000)
        while (a < 10000000) {
            a = a * 10;
        }
        $("#Barcode").val(a);
        var code = $("#Barcode").val();
        $("#BarcodeImg").attr("src", "/Device/CreateBarcode?code=" + code);
        //$.ajax({
        //    type: "POST",
        //    url: "/DeviceCotroller/CreateBarcode?code=" + code,
        //    success: function (results) {
        //        $("Barcode").attr("src", "/Device/CreateBarcode?code=" + code);
        //    }
        //}
        //)
    }
    function AddAttribute() {
        var name = $("#attributeName").val();
        var value = $("#attributeValue").val();
        var html = $("#attributes").html();
        $("#attributes").html(html + " <tr> <td>属性名：</td><td class=\"attr\">" + name + "</td><td>属性值：</td><td class=\"attr\">" + value + "</td></tr>");
        $("#attributesJson").val(GetAttributeJson());
    }
    function GetAttributeJson() {
        var json = "[";
        var sign = 0;
        $("#attributes tr .attr").each(function () {
            if (sign % 2 == 0) {
                json += "{\"Name\":" + "\"" + $(this).html() + "\",";
            }
            else {
                json += "\"Content\":" + "\"" + $(this).html() + "\"},";
            }
            sign++;
        });
        json = json.substring(0, json.length - 1);
        json += "]";
        return json;
    }
    //function Submit() {
    //    $('#form1').form('submit', {
    //        url: '/Device/Create',
    //        data: "attributes=" + GetAttributeJson(),
    //        onSubmit: function () {
    //            return true;
    //        },
    //        success: function (results) {
    //            $.messager.alert('成功', results);
    //        }

    //    }
    //    )
    //}
</script>
@using (Html.BeginForm("form1"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>添加设备</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Barcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Barcode)
            @*            <input id="CreateBarcode" name="Code" type="button" onclick="CreateBarcode(GetBarcodeValue())" />*@
            <input id="CreateBarcode" name="Code" type="button" value="生成条形码" onclick="Create()" />
            @Html.ValidationMessageFor(model => model.Barcode)
            <img id="BarcodeImg" width="373" height="263" alt="条形码图片" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhotoUrl)
        </div>
        <div class="editor-field">
            @Html.Editor("fileName")
            @Html.HiddenFor(model => model.PhotoUrl)
            @Html.ValidationMessageFor(model => model.PhotoUrl)
            <input type="file" name="file_upload" id="file_upload" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Company)
            @Html.ValidationMessageFor(model => model.Company)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.District)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.District)
            @Html.ValidationMessageFor(model => model.District)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Province)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Province)
            @Html.ValidationMessageFor(model => model.Province)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManufactureDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ManufactureDate, new { onfocus = "WdatePicker()" })
            @Html.ValidationMessageFor(model => model.ManufactureDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Factory)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Factory)
            @Html.ValidationMessageFor(model => model.Factory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SetupTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SetupTime, new { onfocus = "WdatePicker()" })
            @Html.ValidationMessageFor(model => model.SetupTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExplosionProof)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ExplosionProof, (List<SelectListItem>)ViewBag.ExplosionProofList)
            @Html.ValidationMessageFor(model => model.ExplosionProof)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecurityCertificateNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SecurityCertificateNo)
            @Html.ValidationMessageFor(model => model.SecurityCertificateNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckState)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CheckState, (List<SelectListItem>)ViewBag.CheckStateList)
            @Html.ValidationMessageFor(model => model.CheckState)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CheckTime, new { onfocus = "WdatePicker()" })
            @Html.ValidationMessageFor(model => model.CheckTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckCycle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckCycle)天
            @Html.ValidationMessageFor(model => model.CheckCycle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UseState)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.UseState, (List<SelectListItem>)ViewBag.UseStateList)
            @Html.ValidationMessageFor(model => model.UseState)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaintenanceRecord)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaintenanceRecord)
            @Html.ValidationMessageFor(model => model.MaintenanceRecord)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attributes)
        </div>
        <div class="editor-field">
            @Html.Label("属性名称", new { name = "attributeName" })
            @Html.TextBox("attributeName")
            @Html.Label("属性值", new { name = "attributeValue" })
            @Html.TextBox("attributeValue")
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="AddAttribute()">添加属性</a>
            @Html.Hidden("attributesJson")
        </div>
        <div>
            <table id="attributes">
            </table>
        </div>
        <p>
            @*<a class="easyui-linkbutton" href="javascript:void(0)" onclick="Submit()">添加设备</a>*@
            <input type="submit" value="添加设备" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
