@model Teshe.Models.Device

@{
    ViewBag.Title = "设备详细信息";
}
<style>
    .tableFirstCol {
        width: 200px;
    }
</style>
@using (Html.BeginForm("Edit", "Device", FormMethod.Get))
{ 
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Name)：
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Model)：
            </td>
            <td>
                @Html.DisplayFor(model => model.Model)
            </td>

        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Company)：
            </td>
            <td>
                @Html.DisplayFor(model => model.Company)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.District)：
            </td>
            <td>
                @Html.DisplayFor(model => model.District)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.City)：
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Province)：
            </td>
            <td>
                @Html.DisplayFor(model => model.Province)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.ManufactureDate)：
            </td>
            <td>
                @Html.DisplayFor(model => model.ManufactureDate)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Factory)：
            </td>
            <td>
                @Html.DisplayFor(model => model.Factory)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Barcode)：
            </td>
            <td>
                <a href="/Device/Barcode?barcode=@Model.Barcode">@Model.Barcode</a>
                @*@Html.ActionLink(Model.Barcode, "Barcode", "Device");*@
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.SetupTime)：
            </td>
            <td>
                @Html.DisplayFor(model => model.SetupTime)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.ExplosionProof)：
            </td>
            <td>
                @Html.DisplayFor(model => model.ExplosionProof)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.SecurityCertificateNo)：
            </td>
            <td>
                @Html.DisplayFor(model => model.SecurityCertificateNo)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.CheckState)：
            </td>
            <td>
                @Html.DisplayFor(model => model.CheckState)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.CheckTime)：
            </td>
            <td>
                @Html.DisplayFor(model => model.CheckTime)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.CheckCycle)：
            </td>
            <td>
                @Html.DisplayFor(model => model.CheckCycle)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.UseState)：
            </td>
            <td>
                @Html.DisplayFor(model => model.UseState)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.MaintenanceRecord)：
            </td>
            <td>
                @Html.DisplayFor(model => model.MaintenanceRecord)
            </td>
        </tr>
        <tr>
            <td class="tableFirstCol">
                @Html.DisplayNameFor(model => model.Remarks)：
            </td>
            <td>
                @Html.DisplayFor(model => model.Remarks)
            </td>
        </tr>
        @foreach (var i in Model.Attributes)
        {
            <tr>
                <td>
                    @i.Name
                </td>
                <td>
                    @i.Content
                </td>
            </tr>
        }
        @*<tr>
            <td>
                @Html.DisplayNameFor(model => model.Attributes)：
            </td>
            <td>
                <table id="attributes">
                    @foreach (var i in Model.Attributes)
                    { 
                        @:<tr> <td>属性名：</td><td class="attr">@i.Name</td><td>属性内容：</td><td class="attr">@i.Content</td></tr>
                    }
                </table>
            </td>
        </tr>*@
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </td>
            <td>
                @if (!String.IsNullOrEmpty(Model.PhotoUrl))
                {
                    <img src="/FileUpload/Photo/@Model.PhotoUrl" alt="无设备照片" />
                }
                else
                { 
                    @:无设备照片
                }
            </td>
        </tr>
    </table>
    <p>
        @Html.ActionLink("修改", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("返回", "Index") |
        @Html.ActionLink("查看修改记录", "ModifyRecord", new { id = Model.Id })
    </p>
}

@*<input type="submit" value="删除该设备" class="btn btn-default" />*@