@model Teshe.Models.DeviceIndexViewModel

@{
    ViewBag.Title = "Index";
}

<script>
    function Search() {
        $("#result").datagrid({
            url: encodeURI("/Device/Search?" + "Name=" + $("#Name").val() + "&Model=" + $("#Model").val() + "&Barcode=" + $("#Barcode").val() + "&Company=" + $("#Company").val() + "&CheckState=" + $("#CheckState").val() + "&District=" + $("#District").val() + "&City=" + $("#City").val() + "&Province=" + $("#Province").val())
        })
    }
</script>
<div class="row">
    <div class="form-group col-sm-4">
        @Html.DisplayNameFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
    </div>
    <div class="form-group col-sm-4">
        @Html.DisplayNameFor(model => model.Model)
        @Html.EditorFor(model => model.Model)
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-4">
        @Html.DisplayNameFor(model => model.Barcode)
        @Html.EditorFor(model => model.Barcode)
    </div>
    <div class="form-group col-sm-4">
        @Html.DisplayNameFor(model => model.Company)
        @Html.EditorFor(model => model.Company)
    </div>
</div>
@if (User.IsInRole("系统管理员") || User.IsInRole("省级管理员"))
{ 
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.District)
            @Html.EditorFor(model => model.District)
        </div>
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.City)
            @Html.EditorFor(model => model.City)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.Province)
            @Html.EditorFor(model => model.Province)
        </div>
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.CheckState)
            @Html.DropDownListFor(model => model.CheckState, (List<SelectListItem>)ViewBag.CheckStateList)
        </div>
    </div>
}
else if (User.IsInRole("市级管理员"))
{ 
    @Html.HiddenFor(model => model.Province)
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.District)
            @Html.EditorFor(model => model.District)
        </div>
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.City)
            @Html.EditorFor(model => model.City)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.CheckState)
            @Html.DropDownListFor(model => model.CheckState, (List<SelectListItem>)ViewBag.CheckStateList)
        </div>
    </div>
}
else if (User.IsInRole("区（县）级管理员"))
{ 
    @Html.HiddenFor(model => model.Province)
    @Html.HiddenFor(model => model.City)
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.District)
            @Html.EditorFor(model => model.District)
        </div>
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.CheckState)
            @Html.DropDownListFor(model => model.CheckState, (List<SelectListItem>)ViewBag.CheckStateList)
        </div>
    </div>
}
else if (User.IsInRole("客户"))
{
    @Html.HiddenFor(model => model.Province)
    @Html.HiddenFor(model => model.City)
    @Html.HiddenFor(model => model.District)
    <div class="row">
        <div class="form-group col-sm-4">
            @Html.DisplayNameFor(model => model.CheckState)
            @Html.DropDownListFor(model => model.CheckState, (List<SelectListItem>)ViewBag.CheckStateList)
        </div>
    </div>
}

<div class="row">
    <div class="form-group col-sm-4">
        <a id="" class="easyui-linkbutton" href="javascript:void(0)" onclick="Search()">查询设备</a>
    </div>
</div>
<div class="form-group col-sm-12">
</div>

<script>
    function pass(val, row) {
        return "<a onclick=\"passConfirm(" + row.Id + ")\" href=\"javascript:void(0)\">查看详细</a>";
    }
    function del(val, row) {
        return "<a onclick=\"delConfirm(" + row.Id + ")\" href=\"javascript:void(0)\">删除</a>";
    }
    function passConfirm(id) {
        window.location.href = "/Device/Details/" + id;
    }
    function delConfirm(id) {
        $.messager.confirm('确认', '您确定要删除吗？', function (r) {
            if (r) {
                window.location.href = "/Device/Delete/" + id;
            }
        });
    }
</script>
<table id="result" class="easyui-datagrid" title="设备信息" style="width: 980px; height: auto"
    data-options="singleSelect:true,collapsible:true,url:'/Device/Search',method:'post',rownumbers:'true',pagination:'true'">
    <thead>
        <tr>
            <th data-options="field:'pass',width:60,formatter:pass">查看详细</th>
            <th data-options="field:'del',width:60,formatter:del">删除</th>
            <th data-options="field:'Name',width:80">设备名称</th>
            <th data-options="field:'Model',width:100">设备型号</th>
            <th data-options="field:'Barcode',width:100">条形码</th>
            <th data-options="field:'Company',width:100">所在公司</th>
            <th data-options="field:'District',width:100">所在区（县）</th>
            <th data-options="field:'City',width:100">所在城市</th>
            <th data-options="field:'Province',width:100">所在省份</th>
            @*            <th data-options="field:'ManufactureDate',width:100">出厂日期</th>
            <th data-options="field:'Factory',width:100">生产厂家</th>*@
            <th data-options="field:'SetupTime',width:100">安装时间</th>
            @*            <th data-options="field:'ExplosionProof',width:100">防爆否</th>
            <th data-options="field:'SecurityCertificateNo',width:100">安检证号</th>*@
            @*            <th data-options="field:'CheckState',width:100">检测状态</th>*@
            <th data-options="field:'CheckTime',width:100">检测时间</th>
            @*            <th data-options="field:'CheckCycle',width:100">检测周期</th>*@
            <th data-options="field:'UseState',width:100">使用状态</th>
            @*            <th data-options="field:'MaintenanceRecord',width:100">维修记录</th>*@
        </tr>
    </thead>
</table>
<a class="easyui-linkbutton" href="javascript:void(0)" onclick="exportExcel()">导出报表</a>
<a class="easyui-linkbutton" href="javascript:void(0)" onclick="print()">在线打印</a>
@UIHelper.ExportExcel("Device")
@UIHelper.Print("Device")
