@{
    if (User.IsInRole("系统管理员"))
    {
        ViewBag.Title = "系统管理员密码修改";
    }
    else if (User.IsInRole("区（县）级管理员"))
    {
        ViewBag.Title = "区（县）级管理员密码修改";
    }
    else if (User.IsInRole("市级管理员"))
    {
        ViewBag.Title = "市级管理员密码修改";
    }
    else if (User.IsInRole("省级管理员"))
    {
        ViewBag.Title = "省级管理员密码修改";
    }
    else if (User.IsInRole("客户"))
    {
        ViewBag.Title = "客户密码修改";
    }
}
@model Teshe.Models.ModifyPasswordViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="form-group col-sm-4">
                @Html.DisplayNameFor(model => model.OldPassword)
                @Html.PasswordFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                @Html.DisplayNameFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                @Html.DisplayNameFor(model => model.RepPassword)
                @Html.PasswordFor(model => model.RepPassword)
                @Html.ValidationMessageFor(model => model.RepPassword)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <input type="submit" value="修改密码" class="btn btn-default" />
                @UIHelper.ModifyTips(ViewBag.ModifyPasswordIsSuccess, "修改成功")
                @Html.ValidationSummary(true)
            </div>
        </div>
    </div>
}