@model Teshe.Models.UserInfoIndexViewModel
@{
    ViewBag.Title = "管理员用户查询";
}
<script>
    function Search() {
        $("#result").datagrid({
            url: encodeURI("/UserInfo/GetUserInfo?" + "&District=" + $("#District").val() + "&City=" + $("#City").val() + "&Province=" + $("#Province").val())
        });
    }
</script>
@if (User.IsInRole("系统管理员"))
{ 
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.District)
            </td>
            <td>
                @Html.TextBoxFor(model => model.District, new { @class = "combo textBoxHeight" })
            </td>
            <td>
                @Html.DisplayNameFor(model => model.City)
            </td>
            <td>
                @Html.TextBoxFor(model => model.City, new { @class = "combo textBoxHeight" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Province)
            </td>
            <td colspan="2">
                @Html.TextBoxFor(model => model.Province, new { @class = "combo textBoxHeight" })
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <a class="easyui-linkbutton" href="javascript:void(0)" onclick="Search()">查询用户信息</a>
            </td>
        </tr>
    </table>
}
<table id="result" class="easyui-datagrid" title="用户信息" style="width: 1000px; height: auto"
    data-options="singleSelect:true,collapsible:true,url:'/UserInfo/GetUserInfo',method:'post',rownumbers:'true',pagination:'true'">
    <thead>
        <tr>
            <th data-options="field:'UserType',formatter:usertype,width:80">用户级别</th>
            <th data-options="field:'Name',width:80">用户名</th>
            <th data-options="field:'Password',width:100">密码</th>
            <th data-options="field:'ResponsiblePerson',width:100">负责人</th>
            <th data-options="field:'Company',width:100">所在公司</th>
            <th data-options="field:'District',width:100">所在区（县）</th>
            <th data-options="field:'City',width:100">所在城市</th>
            <th data-options="field:'Province',width:100">所在省份</th>
            <th data-options="field:'details',width:60,formatter:details">查看</th>
            <th data-options="field:'del',width:60,formatter:del">删除</th>
        </tr>
    </thead>
</table>
<a class="easyui-linkbutton" href="javascript:void(0)" onclick="exportExcel()">导出报表</a>
<a class="easyui-linkbutton" href="javascript:void(0)" onclick="print()">在线打印</a>
@UIHelper.ExportExcel("UserInfo")
@UIHelper.Print("UserInfo")

<script>
    function details(val, row) {
        return "<a onclick=\"detailsConfirm(" + row.Id + ")\" href=\"javascript:void(0)\">查看</a>";
    }
    function del(val, row) {
        return "<a onclick=\"delConfirm(" + row.Id + ")\" href=\"javascript:void(0)\">删除</a>";
    }
    function delConfirm(id) {
        $.messager.confirm('确认', '您确定要删除吗？', function (r) {
            if (r) {
                window.location.href = "/UserInfo/Delete/" + id + "?delType=Search";
            }
        });
    }
    function detailsConfirm(id) {
        window.location.href = "/UserInfo/Details/" + id;
    }
    function usertype(obj) {
        return obj.Name;
    }
</script>
